

<table class="profile" summary="Profile information">
	<tr>
	
	</tr>
	
	<tr>
	
		<td WIDTH="10%"> <%= situacao.status %></td>
		
		<td WIDTH="50%"> <%= link_to situacao.nomestat, situacao %></td>
		
			<td WIDTH="10%"> <% if current_user.admin? %>	
			<%= link_to "Deleta", situacao, :method => :delete, 
																		 :confirm => "voce esta certo?",
														  	     :title => "Delete => #{situacao.nomestat}" %>
			<% end %>	
		</td>
	
	<td>  </td>
	<td>  </td>
	</tr>	
	</table>						
