<h1>Controle de Propostas</h1>
<p>Esta é a Home Page do Controle de Propostas da <a href="http://www.bhsaude.com.br/">Bhsaude
</a>
</p>

<%= link_to "sign up now!", '#', :class => "signup_button round" %>

