<li>
	<%= operadora.nome %>
	
	<% if current_user.admin? %>
	|----------
	<%= link_to "delete", operadora, :method => :delete, 
																	 :confirm => "voce esta certo?",
														       :title => "Delete => #{operadora.nome}" %>
	<% end %>	
													  
	<%= link_to "Mostrar", operadora	%>			  										  
														  
</li>
