<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @operadora.banco %>
        <%= @operadora.nome %>
      </h1>
    </td>
    <td class="sidebar round">
   
    <strong>Editar</strong>  <%= link_to (@operadora.nome), edit_operadora_path(@operadora)%>
    </td>
  </tr>
</table>

